<!DOCTYPE html>
<html>
<head>
    <title>Custom IIS Website</title>
</head>
<body>
    <h1>Hej! Välkommen till min IIS-webbsida!</h1>
    <p>Detta är en enkel webbsida skapad med Ansible och Jinja2.</p>
    <p>Servernamn: {{ ansible_hostname }}</p>
</body>
</html>
